In [1]:
%load_ext sql

In [2]:
%sql sqlite:///ngo_data.db

- Beneficiary Partner Data table

In [6]:
%%sql CREATE TABLE Beneficiary_Data (
    partner_id INT,
    partner VARCHAR(30) NOT NULL,
    village VARCHAR(30) NOT NULL,
    beneficiaries INT,
    beneficiary_type VARCHAR(30),
    PRIMARY KEY (partner_id, village),
    FOREIGN KEY (village) REFERENCES Village_Location(village)
);

 * sqlite:///ngo_data.db
(sqlite3.OperationalError) table Beneficiary_Data already exists
[SQL: CREATE TABLE Beneficiary_Data (
    partner_id INT,
    partner VARCHAR(30) NOT NULL,
    village VARCHAR(30) NOT NULL,
    beneficiaries INT,
    beneficiary_type VARCHAR(30),
    PRIMARY KEY (partner_id, village),
    FOREIGN KEY (village) REFERENCES Village_Location(village)
);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

- SQL script for district summary

In [4]:
%%sql CREATE VIEW District_summary AS
SELECT
    J.District_Name AS District_Name,
    J.Region_Name AS Region_Name,
    SUM(BD.beneficiaries) AS No_of_Individual_Beneficiaries,
    SUM(BD.beneficiaries) / D.Total_Population AS Beneficiaries_to_Population_Ratio
FROM
    Beneficiary_Data BD
JOIN
    Jurisdiction_Hierarchy J ON BD.village = J.Village
JOIN
    District_Population D ON J.District_Name = D.District_Name
GROUP BY
    J.District_Name, J.Region_Name, D.Total_Population;

 * sqlite:///ngo_data.db
Done.

[]

- SQL script for partner summary

In [5]:
%%sql CREATE VIEW Partner_summary AS
SELECT
    BD.partner AS Partner_Name,
    COUNT(DISTINCT BD.village) AS No_of_Villages_reached_by_partner,
    COUNT(DISTINCT J.District_Name) AS No_of_Districts_reached_by_partner
FROM
    Beneficiary_Data BD
JOIN
    Jurisdiction_Hierarchy J ON BD.village = J.Village
GROUP BY
    BD.partner;

 * sqlite:///ngo_data.db
Done.

[]